@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #fff3f7;
}

header {
    width: 100%;
    border-bottom: 1px solid #9b9b9b54;
    background-color: #ffff;

    nav {
        width: 100%;
        max-width: 1172px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        /* padding: 0 16px; */
    }
}

#btnMenu {
    display: none;
}

.bnner-mob {
    display: none;
}

section,
footer {
    width: 100%;
    max-width: 1172px;
    margin: 0 auto;
    padding: 20px 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
}

nav figure {
    /* height: -200px; */
    margin: -6px 0;
}

nav figure img {
    width: 60px;
    margin: 0 0 -3px 30px;

}

.nav-bar {
    display: flex;
    gap: 50px;
}

.bar-ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;

    a {
        text-decoration: none;
        color: #43334C;
        font-weight: 600;
        padding: 8px 12px;
        display: inline-block;
        position: relative;
    }

    a:hover {
        color: #E83C91;
    }

    a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: #E83C91;
        transition: .3s ease;
    }

    a:hover::after {
        width: 100%;

    }
}

.agen-cab {
    text-decoration: none;
    color: #F8F4EC;
    font-weight: 600;
    padding: 8px 12px;
    background-color: #E83C91;
    border-radius: 12px;
    transition: .3s ease-in-out;

}

.agen-cab:hover {
    background-color: #ff71a3;
}


.ham-menu {
    display: none;
}

/* BANNER */

.banner-principal {
    position: relative;

    img {
        width: 100%;
        border-radius: 16px;
    }
}

.content-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1172px;
    text-align: center;
    /* padding: 0 100px; */

    h1 {
        color: #F8E4EC;
        font-size: 44px;
        padding: 0 50px;
        font-family: "Poppins", sans-serif;
        /* font-family: "Cinzel", serif; */
        /* font-weight: 900; */
    }

    p {
        color: #F8F4EC;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        color: #F8F4EC;
        font-weight: 600;
        padding: 12px 16px;
        background-color: #E83C91;
        border-radius: 12px;
        transition: .3s ease-in-out;
        display: inline-block;
        margin-top: 30px;


    }

    a:hover {
        background-color: #ff71a3;
    }
}

/* SERVIÇOS */
h2 {
    padding: 20px 0;
}

.card-serv {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 30px;
    justify-content: flex-start;
    width: 100%;
    /* max-width: 1172px;
    margin: 0 auto; */
}

.card-serv article {
    /* width: calc(33.33% - 40px); */
    flex: 0 0 calc((100% - 40px) / 3);
    background-color: rgba(255, 255, 255, 0.555);
    box-shadow: 0 3px 10px #4b4a4a34;
    border-radius: 22px;

    .serv-img {
        overflow: hidden;
        max-height: 245px;
        border-radius: 22px 22px 0 0;
    }

    img {
        width: 100%;

        max-height: 200px;
        border-radius: 22px 22px 0 0;
        object-fit: cover;
        transition: .3s ease;
    }

    img:hover {
        scale: 1.10;
    }
}

.serv-desc {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 15px 15px 15px;

    .serv-tp {
        font-weight: bold;
        color: #140f16;
    }

    .serv-info {
        font-size: 12px;
        color: #89616f;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .serv-price {
        font-weight: bold;
        color: #ff71a3;
    }
}

/* QUEM SOU EU  */
.sobre-mim {
    max-width: 100%;
    padding: 0;
    background-color: white;
    padding: 40px 0;

    article {
        max-width: 1172px;
        margin: 0 auto;
        padding: 0 16px;
        display: flex;
        gap: 30px;
        align-items: center;
    }

    figure {
        width: 30%;

        img {
            width: 100%;
            object-fit: cover;
            text-align: center;
            aspect-ratio: 1/1;
            border-radius: 16px;
            box-shadow: 0 0 10px #ff71a3;
        }
    }

    div {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h3 {
            font-size: 26px;
            font-weight: 500;
        }

        p {
            font-size: 16px;
            color: #89616f;
        }

        a {
            text-decoration: none;
            color: #E83C91;
            font-weight: 600;
            padding: 12px 16px;
            background-color: #ffccde;
            border-radius: 16px;
            transition: .3s ease-in-out;
            width: 200px;
            text-align: center;
            /* display: block; */
            margin-top: 30px;

        }

        a:hover {
            background-color: #faaac6;
        }
    }
}

/* AVALIAÇOES */
.avl-p-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    article {
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* width: 20%; */
        width: calc(33% - 20px);
        min-width: 275px;
        padding: 20px;
        background-color: white;
        border-radius: 20px;

    }
}

.profile-av {
    display: flex;
    gap: 20px;

    img {
        aspect-ratio: 1 / 1;
        width: 48px;
        border-radius: 50%;
        object-fit: cover;
    }

}

.icon-av {
    font-size: 10px;
}

.name-client-av {
    font-size: 16px;
    font-weight: 600;
}

.coment-av {
    font-size: 14px;
    color: #89616f;
}

/* FAZER O AGENDAMENTO  */

#agendamento {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#agendamento label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
}
.servicos{
    display: flex;
    gap: 20px;
    flex: 0 0 calc((100% - 60px) / 2 );
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}
.servicos label {
    display: block;
    margin: 5px 0;
}
.inpt-inf-serv{
    display: flex;
    justify-content: center;
    gap: 20px;
    
    div{
        display: flex;
        flex-direction: column;
        flex: 0 0 calc(50% - 20px);
    }
   #inputDia , #inputHorario{
        width: 100%;
    /* height: 30px; */
    padding: 10px;
    border-radius: 22px;
    outline: none;
    border: 1px solid #E83C91;
    }
    
}

#btnConfirmar {
    padding: 15px 20px;
    background: #E83C91;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 40px auto 0;
}


/* LOCALIZAÇAO */
.localiza-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

iframe {
    width: 70%;
    border-radius: 16px;
    margin: 0 auto;

}

/* FOOTER  */

footer {
    text-align: center;
    background-color: rgb(255, 255, 255);
    min-width: 100%;
    padding: 40px;

    h2 {
        font-size: 20px;
        font-family: "Cinzel", serif;
        color: #E83C91;
        padding: 0;
    }

    i {
        color: #898989;
    }

    p {
        font-size: 12px;
        color: #89616f;
    }
}

@media screen and (max-width: 897px) {

    /* Oculta o menu no mobile */
    #navBar {
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        background: white;
        padding: 0 20px;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        gap: 0;
        transform: translateY(-10px);
        transition: max-height .35s ease, opacity .25s ease, transform .25s ease;
        z-index: 9999;
        /* IMPORTANTE */
    }

    /* ITENS INTERNOS (correção aqui!) */
    #navBar .bar-ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px 0;
    }

    /* MENU ABERTO */
    #navBar.active {
        max-height: 400px;
        opacity: 1;
        transform: translateY(0);
    }


    .nav-bar {
        /* display: none; */
        flex-direction: column;
    }

    .agen-cab {
        margin-bottom: 20px;
        font-size: 14px;
        text-align: center;

    }

    nav {
        padding: 16px 16px;
    }

    h2 {
        padding-top: 0;
        font-size: 20px;
    }

    .ham-menu {
        display: inherit;
        width: 30px;
        height: 30px;
    }

    .img-logo {
        margin-left: 0;
    }

    .desk {
        display: none;
    }

    .bnner-mob,
    #btnMenu {
        display: initial;
    }

    .banner-principal {
        width: 100%;
        padding: 0 0 20px;
        overflow: hidden;

        img {
            width: 100%;
            max-height: 600px;
            border-radius: 0;
            object-fit: cover;
            object-position: bottom;

        }
    }

    .content-banner {

        h1 {
            color: #F8E4EC;
            font-size: 40px;
            padding: 0 20px;


        }

        p {
            margin-top: 30px;
            font-size: 14px;
            padding: 0 16px;
        }

    }

    /* SERVIÇOS  */

    .card-serv article {
        flex: 0 0 calc((100% - 20px) /2);
        background-color: white;
        border-radius: 16px;



        img {
            width: 100%;
            /* max-width: 800px; */
            aspect-ratio: 1 /1;
            max-height: 230px;
            object-fit: cover;
            border-radius: 16px 16px 0 0;
        }

    }


    /* AVALIAÇOES */

    .avl-p-card {
        flex-direction: row;
        overflow-x: auto;
        flex-wrap: nowrap;
        scrollbar-width: none;
        justify-content: start;
    }

    /* LOCALIZAÇAO  */

    .localiza-end {
        display: flex;
        justify-content: center;
    }

    iframe {
        width: 70%;
        max-height: 300px;
        /* aspect-ratio: 1/1; */
    }

    /* FOOTER  */

    footer {
        flex-direction: column;
        display: flex;
        gap: 10px;
    }

    .icon-insta {
        font-size: 30px;
    }
}

@media screen and (max-width: 575px) {

    /* SOBRE MIM  */

    .sobre-mim article {
        flex-direction: column;

        figure {
            width: 100%;
            max-width: 200px;
        }

        div {
            /* text-align: center; */
            align-items: center;

        }
    }
}